<%- include('header') %>
    <!-- <div class="aparat-movie">
    <iframe src="http://www.aparat.com/video/video/embed/videohash/xkoUg/vt/frame" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
</div> -->
    <div class="main-content">
        <h2>تاریخچه‌ای مختصر از ترگمان</h2>
        <p>سامانه ترجمه‌ ماشینی دوزبانه ترگمان در سال ۱۳۹۰ به همت جمعی از پژوهشگران در <a
                href="http://ceit.aut.ac.ir/autcms/labs/verticalPagesAjax/labHome.htm?id=3355070&amp;depurl=computer-engineering&amp;lang=fa&amp;cid=1502125">آزمایشگاه
                پردازش زبان طبیعی و یادگیری ماشین دانشگاه صنعتی امیرکبیر</a> تحت مدیریت <a
                href="https://sites.google.com/site/khadivi">جناب آقای دکتر شهرام خدیوی</a> و با حمایت <a
                href="http://itrc.ac.ir" target="_blank">پژوهشگاه ارتباطات و فناوری اطلاعات (مرکز تحقیقات مخابرات ایران)
            </a> ایجاد شد. این سامانه در ابتدا بر مبنای استفاده از ابزارهای متن‌باز موجود در حوزه ترجمه‌ماشینی آماری و
            توسعه الگوریتم‌ها و ابزارهای موردنیاز برای پردازش تخصصی زبان فارسی به‌عنوان یک طرح تحقیقاتی و پژوهشی مورد
            توسعه قرار گرفت. از دی‌ماه سال ۱۳۹۲ تا دی‌ماه ۱۳۹۴ این سامانه مورد بازنگری و بومی‌سازی قرار گرفته و موتور
            تورجمه‌ماشینی و تمامی ارکان سرویس‌دهی آن از نو مورد طراحی و پیاده‌سازی قرار گرفتند. موتور ترجمه بومی توسعه
            داده‌شده در این سامانه با معماری و طراحی مهندسی توانست در قیاس با برترین نرم‌افزارهای مشابه در این حوزه
            علاوه بر پایداری بسیار بالا، افزایش سرعتی معادل۲۷۰ درصد و کاهش مصرف منابع تا ۱۶ برابر را با حفظ دقت حتی در
            سطح جزییات،ارائه کند.</p>
        <p>در این سامانه علاوه بر موتور ترجمه، مجمو‌عه‌ای از ابزارهای پردازش زبان اعم از پیش‌پردازش، پس‌پردازش، ریشه‌یاب
            کلمات، شناساگر موجودیت‌های اسمی، نویسه‌گردان و مدل زبانی نیز مورد توسعه قرار گرفته‌اند که در اغلب آنها
            رویکرد کلی طراحی و توسعه مستقل از زبان بوده است. ضمنا زیرساخت توسعه ترگمان به عنوان یک سکوی توسعه مستقل به
            نحوی مهندسی شده است که از کل یا اجزای آن بتوان در انواع پروژه‌های مرتبط یا غیرمرتبط با حوزه پردازش زبانی
            بهره‌برداری کرد.</p>
        <p>از اسفندماه سال ۱۳۹۵ تا فروردین ۱۳۹۷ و با حمایت مجدد <a href="http://itrc.ac.ir" target="_blank">پژوهشگاه
                ارتباطات و فناوری اطلاعات (مرکز تحقیقات مخابرات ایران) </a> در قالب یکی از پروژه‌های <a
                href="http://didras.ir" target="_blank">طرح جویشگر بومی</a> توسعه، نگهداری و ارتقای این سامانه بر عهده
            دو شرکت <a href="http://tip.co.ir" target="_blank">پردازش هوشمند ترگمان</a> و <a href="http://adansoft.ir/"
                target="_blank">ویرا افزار آدان</a> به صورت مشارکت فنی و اجرایی بوده است</p>
        <p>تا پیش از مرداد ۱۴۰۱ سامانه ترگمان سرویس ترجمه‌ی انگلیسی-فارسی را با استفاده از موتور ترجمه نورونی مشترک
            توسعه داده‌شده توسط دو شرکت <a href="http://tip.co.ir" target="_blank">پردازش هوشمند ترگمان</a> و <a
                href="http://adansoft.ir/" target="_blank">ویرا افزار آدان</a> ارایه می‌کرد. همچنین با همکاری یک شرکت
            اروپایی امکان ترجمه میان ۹ زبان زنده دنیا را فراهم آورده بود.</p>
        <p>با پایان قرارداد همکاری شرکت ترگمان اقدام به توسعه موتور اختصاصی خود نموده و در حال آماده سازی موتورهای ترجمه
            برای زبان‌های متنوع است. ترجمه‌های میان زبان‌های زیر به صورت دوطرفه مورد پشتیبانی خواهند بود: </p>
        <ul>
            <li>انگلیسی - فارسی </li>
            <li>انگلیسی - روسی </li>
            <li>فارسی - روسی</li>
            <li>انگلیسی - آلمانی </li>
            <li>فارسی - آلمانی</li>
            <li>انگلیسی - فرانسوی </li>
            <li>فارسی - فرانسوی</li>
            <li>انگلیسی - اسپانیایی </li>
            <li>فارسی - اسپانیای</li>
            <li> انگلیسی - ترکی استانبولی </li>
            <li> فارسی - ترکی استانبولی</li>
            <li>انگلیسی - ژاپنی </li>
            <li>فارسی - ژاپنی</li>
            <li>انگلیسی - عربی </li>
            <li>فارسی - عربی</li>
        </ul>
        <!-- <p>سامانه ترگمان دارای امکانات متعددی است که از جمله انها می توان به موارد ذیل اشاره داشت</p> -->
        <!-- <ul>
        <li><span>امکان ترجمه خودکار متن همراه با شناسایی خودکار جهت ترجمه </span></li>
        <li><span>امکان ترجمه صفحات وب به صورت پیشرفته </span></li>
        <li><span>امکان ترجمه اسناد doc, docx, odt, PDF, txt به دو صورت برخط و غیربرخط </span></li>
        <li><span>تلفظ کلمات و عبارات،</span></li>
        <li><span>دیکشنری پیشرفته</span></li>
        <li><span>خطایاب املایی</span></li>
    </ul> -->
        <br>
        <h2>ارتباط با ما</h2>
        <div>
            <p><strong>ایمیل:</strong> info at targoman.com</p>
            <p><strong>تلفن:</strong> ۴۶-۶۶-۸۸۷۳-۹۸۲۱+</p>
        </div>
        <h2>حامیان و مشارکت‌کنندگان در ترگمان</h2>
        <div class="small-logos">
            <a href="http://tip.co.ir"><img src="./img/logo/about-tip-small.png"
                    alt="Targoman Intelligent Processing Pjc."></a>
            <a href="http://itrc.ac.ir"><img src="./img/logo/about-itrc.png"
                    alt="Iran Telecommunication Research Center"></a>
            <a href="http://adansoft.ir"><img src="./img/logo/about-adansoft.png" alt="Adans Soft"></a>
        </div>
    </div>
    <%- include('footer') %>