<%- include('header') %>
<div class="main-content">
    <h2>امکان ارائه‌ی عمومی API وجود ندارد</h2>
    <p>کاربر گرامی، به دلیل محدودیت‌های سخت‌افزاری، در حال حاضر امکان ارائه‌ی رابط کاربری عمومی وجود ندارد؛ در عین حال برای استفاده از رابط کاربری بصورت موردی با پست الکترونیکی <span class="email">sales &lt;at&gt; targoman &lt;dot&gt; com</span> مکاتبه فرمایید.</p>
</div>
<%- include('footer') %>