<div id="footer">
    <div>
        <ul class="glinks">
            <li><a href="https://github.com/targoman" target="_blank"><img src="./img/logo/github.png" alt="" /></a></li>
            <li><a href="https://targoman.ir/blog/"><img src="./img/logo/blog.png" alt="" /></a></li>
            <li><a href="http://www.aparat.com/targoman" target="_blank"><img src="./img/logo/aparat.png" alt="" /></a></li>
            <li><a href="https://t.me/targoman" target="_blank"><img src="./img/logo/telegram.png" alt="" /></a></li>
        </ul>
        <hr />
    </div>
    <ul class="links">
        <li><a href="./about.html">درباره‌ی ترگمان</a></li>
        <li><a href="./terms.html">حقوق کاربر</a></li>
        <li><a href="./api.html">API</a></li>
        <li><a href="https://github.com/targoman" target="_blank">گیت‌هاب</a></li>
        <li><a href="https://ngt.freepaper.me/" target="_blank">سفارش ترجمه‌ی مقاله</a></li>
        <li><a href="https://tarjomyar.ir/" target="_blank">ترجمه‌ی تخصصی</a></li>
        <li><a href="http://cafebazaar.ir/app/?id=com.anonycoders.targoman&ref=share" target="_blank">اندروید</a></li>
    </ul>
</div>
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-138998479-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-138998479-1');
</script>
</body>

</html>