<div id="footer">
    <div>
        <ul class="glinks">
            <li><a href="https://github.com/targoman"><img src="./img/logo/github.png" alt="" /></a></li>
            <li><a href="https://targoman.ir/blog/"><img src="./img/logo/blog.png" alt="" /></a></li>
            <li><a href="http://www.aparat.com/targoman"><img src="./img/logo/aparat.png" alt="" /></a></li>
            <li><a href="https://t.me/targoman"><img src="./img/logo/telegram.png" alt="" /></a></li>
        </ul>
        <hr />
    </div>
    <ul class="links">
        <li><a href="./about.html">درباره‌ی ترگمان</a></li>
        <li><a href="./terms.html">حقوق کاربر</a></li>
        <li><a href="./api.html">API</a></li>
        <li><a href="https://github.com/targoman">گیت‌هاب</a></li>
        <li><a href="https://ngt.freepaper.me/">ترجمه‌ی مقاله</a></li>
        <li><a href="http://cafebazaar.ir/app/?id=com.anonycoders.targoman&ref=share">اندروید</a></li>
    </ul>
</div>
</body>

</html>