<div id="footer">
    <div>
        <ul class="glinks">
            <li><a href="https://github.com/targoman" target="_blank"><img src="./img/logo/github.png"
                        alt="گیت‌هاب" /></a></li>
            <li><a href="https://targoman.ir/blog/"><img src="./img/logo/blog.png" alt="وبلاگ ترگمان" /></a></li>
            <li><a href="http://www.aparat.com/targoman" target="_blank"><img src="./img/logo/aparat.png"
                        alt="ویدیو‌های مترجم هوشمند" /></a></li>
            <li><a href="https://t.me/targoman" target="_blank"><img src="./img/logo/telegram.png"
                        alt="تلگرام موتور ترجمه هوشمند" /></a></li>
        </ul>
        <hr />
    </div>
    <ul class="links">
        <li><a href="/about.html">درباره‌ی ترگمان</a></li>
        <li><a href="/terms.html">حقوق کاربر</a></li>
        <li><a href="/api.html">API</a></li>
        <li><a href="https://github.com/targoman" target="_blank">گیت‌هاب</a></li>
        <li><a href="https://ngt.freepaper.me/?utm_source=targoman.ir&utm_medium=footer&utm_campaign=ngtFooterAllTime"
                target="_blank">سفارش ترجمه‌ی مقاله</a></li>
        <li><a href="https://tarjomyar.ir/?utm_source=targoman.ir&utm_medium=footer&utm_campaign=tgf"
                target="_blank">ترجمه‌ی تخصصی</a></li>
        <li><a href="http://cafebazaar.ir/app/?id=com.anonycoders.targoman&ref=share" target="_blank">اندروید</a></li>
    </ul>
</div>
<script>
    window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
    ga('create', 'UA-138998479-1', 'auto');

    // Replace the following lines with the plugins you want to use.
    ga('require', 'eventTracker');
    ga('require', 'outboundLinkTracker');
    ga('require', 'urlChangeTracker');
    // ...

    ga('send', 'pageview');
</script>
<script async src="https://www.google-analytics.com/analytics.js"></script>
<script async src="/autotrack.js"></script>
<script>
    const nightMode = getCookie("nightMode");
    const hours = new Date().getHours()
    const isDayTime = hours > 6 && hours < 20;
    const button = document.querySelector('.end.daynight img')

    if (nightMode === 'day' || (nightMode === '' && isDayTime === true)) {
        document.body.classList.remove('dark')
        if (button) button.src = button.src.replace('day', 'night')

    } else if (nightMode === 'dark' || (nightMode === '' && isDayTime === false)) {
        document.body.classList.add('dark')

        if (button) button.src = button.src.replace('night', 'day')
    }
</script>
<!--
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-138998479-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-138998479-1');
</script>-->
</body>

</html>