<%- include('header') %>
<div class="main-content">
<div>
    <h2>حریم شخصی شما در ترگمان</h2>
    <p>
        حریم شخصی و محافظت از اطلاعات خصوصی شما اهمیت بالایی برای ترگمان دارد. در ترگمان هیچکدام از اطلاعات شما اعم از اطلاعات شخصی، متن درخواست‌های ترجمه، فایلهای ترجمه شده و فعالیت شما در سامانه ترگمان، بدون اجازه شما به دیگران ارایه نمی شود. ما به هیچ عنوان اطلاعات شخصی شما را به اشخاص ثالث نفروخته و هیچ‌گاه بدون اجازه شما از نام شما در متون تبلیغاتی استفاده نخواهیم‌ کرد.
    </p>
    <p>
        به جز اطلاعات شخصی شما، برای مسائل امنیت سرویس‌دهی و ساخت گزارش‌های آماری، ما IP شما و زمان‌های مراجعه شما را نیز ذخیره می‌کنیم. کاربرد این اطلاعات برای ما صرفا مسائل آماری، امنیت سرویس‌دهی و تشخیص احتمالی حملات به سرور‌های ترگمان است.
    </p>
    ما برای ارائه سرویس‌های خود و بهبود تجربه شما، از کوکی‌ها برای اهداف بسیاری در وب‌سایتمان و ارتباطات ایمیلی‌مان استفاده می‌کنیم. کوکی‌هایی که استفاده می‌کنیم، به ما این امکان را می‌دهند که مشتریان و اطلاعات مربوط به آنها را در دفعات بعدی مراجعه بشناسیم، پس دیگر لازم نیست اطلاعات مشابه را دوباره وارد کنید. اگر کوکی‌ها را مسدود یا پاک کنید، ممکن است نتوانیم برخی از خدمات که به وجود کوکی‌ها وابسته هستند را ارایه کنیم و توانایی ما برای شخصی‌سازی تجربه آنلاین شما محدود خواهد شد.
    <p>
        ما برای تحویل ترجمه فایل‌های شما نیاز داریم برای مدتی محدود فایل اصلی شما را در کنار اطلاعات شخصی شما نگه داریم. بعد از پایان این زمان فایل اصلی از سرورهای ما حذف شده و ما هیچ دسترسی به این اطلاعات نداریم. هرچند ما در پایگاه داده خود اطلاعات جملات ترجمه شده را نگه می‌داریم اما نگهداری این اطلاعات تنها به قصد بهبود سامانه ترگمان در آینده می‌باشد و ذخیره‌سازی آن‌ها به نحوی است که امکان تشخیص درخواست‌کننده ترجمه وجود نداشته باشد. ما هرگز اصل اطلاعات ترجمه شما را به هیچ شخص حقوقی و یا حقیقی نخواهیم فروخت و از آن برای هیچ هدف دیگری به جز بهبود سامانه ترگمان، ایجاد پیکره‌ها، و ارایه راهنمایی و آگهی به صورت هوشمند استفاده نخواهیم کرد.
    </p>
    <p>
        اطلاعاتی که کاربران به عنوان کمک به بهبود ترگمان به صورت داوطلبانه برای ما ارسال می‌کنند ممکن است برای ایجاد پیکره‌های ترجمه استفاده شود. ما برای مدیریت این اطلاعات و کیفیت‌سنجی عملکرد کاربران متفاوت نیاز داریم اطلاعات شخصی کاربران را در کنار پیشنهادات هر کاربر نگه داریم. اگر ترگمان در هر زمانی این اطلاعات را به شخص ثالثی بفروشد و یا جایی منتشر کند اطلاعات شخصی شما در کنار آن‌ها نخواهد بود.
    </p>
    <p>
        در صورت درخواست نهاد‌های قانونی، ما تنها با حکم دادگاه اطلاعات ذخیره‌سازی شده شما را در اختیار آن نهاد قرار خواهیم داد. اطلاعات ذخیره شده به همان شرحی است که پیش از این گفته شد.
    </p>
    <p>
        شرایط حریم شخصی ترگمان می‌تواند در آینده تغییر یابد. ما تلاش می‌کنیم شما را در جریان این تغییرات قرار دهیم، ولی مسئولیت اصلی دنبال کردن این تغییرات با کاربران ترگمان بوده و ترگمان مسئولیتی در قبال عدم آگاهی کاربران از آخرین نسخه این متن ندارد. پیشنهاد می‌کنیم برای اینکه همواره در جریان آخرین اطلاعات قرار بگیرید مارا در شبکه‌های اجتماعی ترگمان در <a href="https://t.me/targoman" target="_blank">تلگرام</a> و <a href="https://twitter.com/targoman" target="_blank">توییتر</a> دنبال نمایید.
    </p>
    <br>
    <h2>حقوق مالکیت مورد استفاده</h2>
    <p>در ترگمان از نرم‌افزارهایی با حقوق مالکیت ذیل استفاده شده است:</p>
</div>
<div class="terms-text">
    <style>
        div.terms-text {
            text-align: justify;
            direction: ltr;
            padding: 1em;
        }        
        div.terms-text div {
            border: solid 2px darkgray;
            border-radius: 5px;
            padding: 5px;
            margin-top: 5px;
        }        
        div.terms-text pre {
            margin-top: 1em;
        }
    </style>
    <div>
        <h2>Targoman</h2><a hef="http://github.com/targoman">https://github.com/targoman</a><pre>        Targoman project is published by <a href="http://itrc.ac.ir">Iranian Telecom Research Center</a> under the terms on
        <a href="http://www.gnu.org/licenses/lgpl-3.0.html" target="_blank">GNU Lesser General Public License as published by the Free Software Foundation,
        version 3 of the License.</a>

        Following sub-projects are excluded from above notice:

            * Apps/TargomanWebUI:  Licensed by ITRC under the terms of Modified BSD License
               (The BSD 3-Clause License) published by MIT University
            * Apps/TargomanWebAPI: Licensed by ITRC under the terms of Modified BSD License
               (The BSD 3-Clause License) published by MIT University
            * ExternalToolsAndLibs/KenLM/: Originally published by Kenneth Heafield most of
              the code is licensed under the terms of LGPL. but there
              are exceptions see more info at: <a href="https://github.com/kpu/kenlm/blob/master/LICENSE" target="_blank">https://github.com/kpu/kenlm/blob/master/LICENSE</a>
            </pre>
    </div>
    <div>
        <h2>BabelJS</h2><a href="https://babeljs.io" target="_blank">https://babeljs.io</a><pre>        The MIT License

        Copyright (c) 2014-2018 Sebastian McKenzie and other contributors

        Permission is hereby granted, free of charge, to any person obtaining a copy
        of this software and associated documentation files (the "Software"), to deal
        in the Software without restriction, including without limitation the rights
        to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
        copies of the Software, and to permit persons to whom the Software is
        furnished to do so, subject to the following conditions:

        The above copyright notice and this permission notice shall be included in
        all copies or substantial portions of the Software.

        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
        IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
        FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
        AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
        LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
        OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
        THE SOFTWARE.
        </pre>
    </div>
    <div>
        <h2>RollupJS</h2><a href="https://rollupjs.org" target="_blank">https://rollupjs.org</a><pre>        The MIT License

        Copyright (c) 2017 <a href="https://github.com/rollup/rollup/graphs/contributors" target="_blank">these people</a>

        Permission is hereby granted, free of charge, to any person obtaining a copy
        of this software and associated documentation files (the "Software"), to deal
        in the Software without restriction, including without limitation the rights
        to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
        copies of the Software, and to permit persons to whom the Software is
        furnished to do so, subject to the following conditions:

        The above copyright notice and this permission notice shall be included in
        all copies or substantial portions of the Software.

        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
        IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
        FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
        AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
        LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
        OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
        THE SOFTWARE.
        </pre>
    </div>
    <div>
        <h2>UglifyJS</h2><a href="https://www.npmjs.com/package/uglify-js">https://www.npmjs.com/package/uglify-js</a><pre>
        UglifyJS is released under the BSD license:

        Copyright 2012-2018 (c) Mihai Bazon <mihai.bazon@gmail.com>

        Redistribution and use in source and binary forms, with or without
        modification, are permitted provided that the following conditions
        are met:

            * Redistributions of source code must retain the above
                copyright notice, this list of conditions and the following
                disclaimer.

            * Redistributions in binary form must reproduce the above
                copyright notice, this list of conditions and the following
                disclaimer in the documentation and/or other materials
                provided with the distribution.

        THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDER “AS IS” AND ANY
        EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
        IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
        PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER BE
        LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY,
        OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
        PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
        PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
        THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
        TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF
        THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
        SUCH DAMAGE.            
        </pre>
    </div>
</div>
</div>
<%- include('footer') %>